/*Set character set to Traditional Chinese*/
@charset "big5";

/*Declare latest references*/
@namespace "http://www.w3.org/1999/xhtml";
@namespace epub "http://www.idpf.org/2007/ops";

/*Set universal page margins*/
@page {
    margin: 30px;
}

/*Import all relevant fonts*/
@font-face {
    font-family: "Adobe Heiti Std";
    font-weight: normal;
    src: url(fonts/AdobeHeitiStd-Regular.otf)
}

@font-face {
    font-family: "Adobe Fan Heiti Std";
    font-weight: bold;
    src: url(fonts/AdobeFanHeitiStd-Regular.otf);
    }

@font-face {
    font-family: "Hiragino Mincho Pro";
    font-weight: normal;
    src: url(fonts/ヒラギノ明朝 Pro W3.otf);
    }

@font-face {
    font-family: "Hiragino Mincho Pro";
    font-weight: bold;
    src: url(fonts/ヒラギノ明朝 Pro W6.otf);
}

